<h1>Account: <%= @account.name %></h1>

<%= link_to "Add Transactions", new_account_transactions_path(@account), class: 'btn btn-primary btn-large pull-rigth' %>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Actions</th>
	</tr>
	<% @account.transactions.each do |transaction| %>
		<tr>
			<td><%= transaction.name %></td>
			<td><%= number_to_currency transaction.amount %></td>
			<td></td>
		</tr>
	<% end %>
</table>