#accounts_list {
	h2 {
		font-size: 24px;
		margin-top: 0;
		display: inline-block;
	}
	
	.new_account {
		display: inline-block;
		margin-top: 8px;
	}
	
	.account {
		overflow: hidden;
		padding: 10px 0;
		border-top: 1px solid #E3E3E3;
		&:last-child{ 
			border-bottom: 1px solid #E3E3E3;
		}
		.name, .current_balance, .actions { 
			display: inline-block;
			float: left;
		}
		.name {
			width: 50%;
		}
		.current_balance {
			width: 35%;
			padding-right: 10px;
			text-align: right;
		}
	}
	
	.total {
		margin-top: 20px;
		padding: 10px 0;
		border-top: 1px solid black;
		div { 
			display: inline-block; 
			width: 48%;
			font-size: 18px;
			font-weight: bold;
			&:last-child {
				text-align: right;
			}
		}
	}
}