#new_category_form form { margin: 0; }

#categories {
	overflow: hidden;
	
	.category {
		display: inline-block;
		float: left;
		padding: 10px 15px;
		margin: 10px;
		
		.actions {
			display: inline-block;
			border-left: 1px solid white;
			padding: 0 5px;
		}
		
		.modal { 
			color: black;
			text-shadow: none;
		}
		form { margin: 0; }
	}
}