table.transactions {
	border: 1px solid #E3E3E3;
	
	.creation {
		width: 15%;
	}
	.name {
		width: 30%;
	}
	.amount {
		width: 15%;
	}
	.category {
		width: 15%;
	}
	
	&.show_table {
		.name {
			width: 40%;
		}
		.amount {
			width: 20%;
		}
	}
}

.edit_transaction {
	margin-top: 20px;
	
	label {
		display: inline-block;
		width: 20%;
	}
	.controls { display: inline-block; }
	textarea {
		width: 330px;
		height: 120px;
	}
}