<div id="transaction_<%= index %>">
  <%= f.text_field 'name', placeholder: 'Name' %>
  <%= f.text_field 'amount', placeholder: 'Amount' %>
  <%= f.text_area 'description', rows: '1', cols: '200' %>
</div>